/* Tablets */
@media (max-width: 959.98px) {
  /* Global Classes Tablets */
  .container {
    padding: 16px;
  }

  .section {
    padding: 16px 0;
    &-heading {
      margin-bottom: 40px;
    }

    &-subheading {
      margin-top: -32px;
    }
  }
}
